/.vs/
/GameEngineGeometry/.vs/
/GameEngineGeometry/[Ll]ibrary/
/GameEngineGeometry/[Tt]emp/
/GameEngineGeometry/[Oo]bj/
/GameEngineGeometry/[Bb]uild/
/GameEngineGeometry/[Bb]uilds/
/GameEngineGeometry/[Ll]ogs/
/GameEngineGeometry/[Mm]emoryCaptures/